.alert {
position: relative;
padding: 0;
margin-bottom: 25px;
@include border-radius (4px);
overflow: hidden;
@include box-shadow (0px 0px 5px #d2d2d2);
width: 47%;
margin-right: 3%;
float:left;
background-color:#fff;   
    .col-right &{ 
    width:100%; 
    }
    &:nth-child(1n+3) {
  
    }
    .close {
    position: absolute;
    right:15px;
    top:12.5px;
    }
    h4.header {
    margin: 0;
    padding:15px 20px;
    text-transform: uppercase;
    border-bottom:1px solid $grey;
    color:#979797;    
    }
    .text { 
    padding:15px;
        h4:first-child {
        margin-top: 0;
        }
    }
    p {
    margin-bottom: 15px;
    }
    .btn {
    max-width: 200px;
    margin: 10px auto;
    display: block;
    }
    .image {
    display: block;
    width: 100%;
        img {
        max-width: 100%;
        }
    }

    &.alert-warning {
        .close {
        color:#fff;
        }
        h4.header{
        color:#fff;    
        background-color:$red;
        }
    }
    &.alert-recomendation {
        h4.header {
        background-color:$green;
        }
    }

}


.alert .alert-link {
font-weight: bold;
}
.alert > p,
.alert > ul {
margin-bottom: 0;
}
.alert > p + p {
margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
position: relative;
top: -2px;
right: -21px;
color: inherit;
}
.alert-success {
color: #3c763d;
background-color: #dff0d8;
border-color: #d6e9c6;
}
.alert-success hr {
border-top-color: #c9e2b3;
}
.alert-success .alert-link {
color: #2b542c;
}
.alert-info {
color: #31708f;
background-color: #d9edf7;
border-color: #bce8f1;
}
.alert-info hr {
border-top-color: #a6e1ec;
}
.alert-info .alert-link {
color: #245269;
}
.alert-warning {


}
.alert-warning hr {
border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
color: #66512c;
}
.alert-danger {
color: #a94442;
background-color: #f2dede;
border-color: #ebccd1;
}
.alert-danger hr {
border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
color: #843534;
}