.block {
margin: 15px 0 15px;
    .box {
    display:inline-block;
    margin: 0 auto;
    width:100%;
    padding: 15px;
    background-color: #fff;
    @include box-shadow (0px 0px 5px #d2d2d2);
    }
    .list-table {
        tr {
            td {
            padding:5px 0;
            }
        }
    }
    p {
    color:$primary; 
    }
}

.block-default {
margin-top: 25px;
margin-bottom: 25px;
max-width: 900px;
    .box {
    display:inline-block;
    margin: 0 auto;
    width:100%;
    padding: 50px;
    background-color: #fff;
    @include box-shadow (0 0 4px #777);
        .row {
        margin:0;
        }
        .col {
        margin: 0;
        padding: 0;
        }     
        .separator {
        padding:25px;
        }
        .separator-min {
        padding:17px 20px 7px 14px;
        }
    }
    .form-group {
    display: inline-block;
    width: 100%;
        span {
        display: block;
        }
    }
    .footer {
    margin: 25px 0;
    display: inline-block;
    width: 100%;
    }
    .expanded {
    border-top: 1px solid $grey;
    padding: 20px 0;
    margin-top: 10px !important;
    }
}

.block-detail {
background-color:#fff;
border-bottom: 2px solid $grey;
display: inline-block;
width:100%;
    .header {
    width:100%;
    display: inline-block;
    border-bottom:1px solid $grey;
        h4, a, .btn, button {
        padding:20px;
        margin: 0;
        color:$grey-b;
        border:none;
        @include border-radius (0);
        }
        .status {
        padding:10px 20px;
        color: $grey-b;
    	text-align: center;
        }
    	.modified {
    	background-color:$yellow;
    	color:$grey-b;
    	text-align: center;
    	}
    }
    
    .footer {
    padding:20px;
    display: inline-block;
    width:100%;
        h2, h3 {
        display: inline-block;
        padding: 0 20px;
        margin: 0;
        }
    }
    .content {
    padding:20px;
    display: inline-block;
    width:100%;
    border-bottom: 1px solid $grey;
    line-height: 1.3em;
        &:last-child {
        border-bottom:none;
        }
    }
    h1, h2 {
    margin-bottom: 25px;
    }
    .input {
    padding:10px;
    border: 1px solid $grey;
    display: inline-block;
    margin:5px 0;
    }
    .navbar {
        ul {
        padding-left: 20px;
            li {
            list-style: none;
            display: block;
            font-size: 0.9em;
                &:before {
                content:"-";
                padding-right: 5px;
                }
            }
        } 
    }
    .box {
    display: inline-block;
    text-align: center;
    padding:20px 0;
    background-color: #f7f9fa;
        h1, h2, h4 {
        margin:0;
        }  
    }
    form {
        span {
        margin-bottom: 15px;
        display: block;
        }
        .styled-select {
            select {
            width: inherit;
            }
        }
    }
    
    .table {
        td {
        padding:5px 0;
        }
    }
}


.block-day  {
display: inline-block;
padding:0 20px;
font-size: 13px;
     &.in {
        .check {
        background-color:$blue;
        }
    }
    &.out {
        .check{
        background-color:$red;
        }
    }
    .check {
    padding:10px;
    text-align: center;
    color:#fff;
    }
    .box {
    @include box-shadow (none);
    }
}


.list {
display: block;
margin-bottom: 25px;
    span {
    display: block;
    }
    h1 {
    margin: 0;
    }
}
.no-list {
    li ul li{
        &:before {
        display: none;
        }
    }
}

.icon-list {
    li {
    padding: 7.5px 0;
    }
}
    
    
/*blocke con barra de progreso */
    
.block-progressbar {
    .header {
    width: 100%;
    position: relative;
    float: left;
        .progress {
        height:25px;
        margin: 0;
        @include border-radius (5px 5px 0 0);
        background-color:#ececec;
        @include box-shadow (0 0 0 transparent);
        }
        .procent {
        position: absolute;
        left: 0;
        top: 10px;
        text-align: center;
        width: 100%;
        font-weight: 600;
        color:$grey-b;
        }
    }
    .box {
    padding: 0;
    }
    .content {
    padding:15px 15px 6px;
    display: inline-block;
    width: 100%;
    }
}

.modal-content {
    .ng-scope  {
    padding:20px;
        input {
        margin: 0 0 10px;
        }
    }
}

.block-rate-list {
    .header-default {
    border-bottom:1px solid $grey;
    width:100%;
    display: inline-block;
    padding:10px 25px;
        h4 {
        display: inline-block;
        font-weight: bold;
        margin: 0;
        padding:10px;
        }
        
    
    }
    .group {
    display: inline-block;
    }
    h4 {
    margin: 0;
    }
    .last .btn{
    padding:0;
    }
    .info {
        .text-danger {
        margin-top: 10px;
        display: block;
        }
    }
}


/* block centered*/

.block-centered {
max-width: 70%;
margin: 0 auto;;
}

/* Tabs */

.tabs {
    .box {
    padding: 0;
    }
    .nav.nav-pills {
    width:25%;
    float:left;
    overflow: hidden;
    @include border-radius(3px 0 0 3px);
        li {
        width:100%;
        display: block;
        margin: 0;
        border:none;
            &:first-child {
                a {
                border-top: none;
                }
            }
            &:last-child {
                a {
                border-bottom: none;
                }
            }
            &.active {
                a {
                background-color:#fff;
                color:$grey-b;
                }
            }
            a {
            background-color:$blue;
            color:#fff;
            font-size: 1.0em;
            padding:20px 25px;
            text-align: left;
            @include border-radius(0);
            border-bottom: 1px solid #9ec1da;
            border-top: 1px solid #85a9c4;
            margin: 0;
            }
        }
    }
    .tab-content {
    width: 75%;
    padding:15px;
    float:left;
        .form-group {
        margin: 0;
        }
        table {
            tbody {
            max-width: 90%;
            display: block;
            }
            tr {
                td:first-child label{
                font-weight: 600;
                }
                td{
                padding:8px;
                }
            }
        }

    }
}


.header-default {
border-bottom:1px solid $grey;
display: inline-block;
width:100%;
margin-bottom: 15px;
padding-bottom: 15px;
}


.content-iframe {
float: left;
width: 100%;
    iframe {
    width:100% !important;
    height:450px !important;
    overflow: hidden !important;
    border: none !important;
    
    }
}

