#header .logo a {
color:#fff;
font-size:0.9em;
font-variant:small-caps;
position: relative;
top:2px;
    img {
    padding-right: 15px;
    position: relative;
    top:-2px;
    }
} 

#header {
    .nav {
        a {
        text-transform: uppercase;
        font-size: 12px;
        }
    }
}