.warning{
background: $yellow;
}
.danfer {
background-color: $red;
}

.available {
background-color: $turquesa;
color:#fff;
}
.text-available {
color: $turquesa;
}

.missin{
background-color:$yellow;
    .text-missin{
    color:$yellow;
    }
}
.text-missin{
color:$yellow;
}
.text-orange {
color:$orange;
}

.text-danger {
color: $red;
    .btn {
    margin-left: 5px;
    }
}
a.text-danger:hover {
color: #843534;
}

.closed{
    .box {
    background-color:$red;
    }
}
.text-closed {
color:$red !important;
}

.table {
    .modified {
    background-color:#f9f0cc;
    color:$orange;
    }
    .text-modified {
    color:$orange;
    }
}

.table {
    tbody{
        .cell-day.closed{
        background-color:$red;
        }
    }
}

.canceled, .cancelled {
background-color:#f4d0cd;
color:$red;
    text-cancelled, .text-canceled {
    color:$red;
    }
}

.text-canceled, .text-canceled {
color:$red;
}

.boocked {
background-color:$turquesa !important;
color:#fff;
    .text-boocked {
    color:#fff;
    }
}
.text-boocked {
color:$turquesa !important;
}

.text-modified {
color:$blue;
}
.text-closed{
color:$yellow;
}

.text-alert {
color:$red;
}
table.table  {
    tbody{
        .select-cell, .selected td, .selected-row {

            .box {
            background-color:$red !important;
            color:#f1f1f1;
                h4 {
                color:#fff;
                }
            }
            &.warning .box{
            background-color:#dc9191 !important;
            color:#f1f1f1;
                h4 {
                color:$yellow;
                }
            }
            .day, .day.to{
            background-color:$red-c;
            }
            .icon {
            color:#f1f1f1;
                &.warning {
                color:$red !important;
                }
            }
        }
    }
}