/* ==========================================================================
   Typography
   ========================================================================== */

body {
font-size: 14px;
line-height: 1.52857143;
color: $grey-b;
font-family: $open;
font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 300;
  line-height: 1.2345;
  color: inherit;
    &.border-bottom {
    border-bottom: 1px solid $grey;
    padding-bottom: 15px;
    }
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #777;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 15px;
  margin-bottom: 15px;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px; 
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%;

}
h1,
.h1 { 
  font-size:2.2em;
}
h2,
.h2 {
  font-size: 2.0em;
}
h3,
.h3 { 
  font-size: 1.229em;
text-transform: uppercase;
}
h4,
.h4 {
font-size: 1.071em;
text-transform: uppercase;
font-weight: normal;
}
h5,
.h5 {
  font-size: 13px;
}
h6,
.h6 {
  font-size: 11px;
}
p {
margin: 0 0 15px;
font-size: 1.0em;
}
.copyright {
color:$grey;
font-size: 0.9em;
padding:10px 0;
display: inline-block;
}
.bold {
font-weight: bold;
}
.italic {
font-style: italic;
}
.title {
font-weight: 600;
width:100%;
display: inline-block;
margin: 0 0 5px;
}

.date-list {
color:$grey;
font-size: 14px;
display: block;
margin-bottom: 5px;
}