<div id="wrapper" ng-controller="BookingController as vm">

        <div class="container">
            <div class=" pagination-calendar">
                <div class="col-xs-6 col-md-4"> 
                    <ul class="nav nav-pills navbar-nav navbar-left">
                        <li><a href="#/bookings"><span class="glyphicon glyphicon-chevron-left"></span>Back to Booking</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-md-8">
                     <ul class="nav nav-pills navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-search"></span>Find a Booking</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-search"></span>Send by Email</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-print"></span>Print</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="wrap">    

        <section id="booking" class="booking-detail">
            <div class="container" ng-repeat="establishment in vm.booking.establishments">

                <div class="block block-detail">
                    <div class="header">
                        <div class="col col-md-4">
                            <h4 class="pull-left">Guest Information</h4>
                            <a ng-if="establishment.StatusBooking === 'NV'" href="" class="pull-left"><span class="glyphicon glyphicon-eye-open"></span>FIRST TIME SEEN</a>
                        </div>
                        <div class="col col-md-4">
                        </div>
                        <div ng-class="{available: establishment.status == 'BOOKING', canceled: establishment.status == 'CANCELLED', modified: establishment.status == 'MODIFIED'}" class="col col-md-4 status ">
                            <span><small>Booking Status</small></br><b class="white">{{establishment.status}}</b></span>
                        </div> 
                    </div>

                    <div class="content">
                        <h1>{{establishment.holder}}</h1>
                        <div class="col col-md-4">
                            <span class="display-block">Reference Number: <b>{{establishment.reference.refNumber}}</b></span>
                        </div>
                        <div class="col col-md-4">
                            <span class="display-block">Booking made on:</span>
                            <span class="display-block"><b>{{establishment.creationDate}}</b></span>
                            <span>From {{vm.booking.ttoo.market}} Market</span>
                        </div>
                        <div class="col col-md-4">
                            <span ng-if="establishment.businessType === 'L'" class="display-block">Payment Status: <i class="liberate"></i></span> <!-- la clase cambia segun pago -->
                            <span ng-if="establishment.businessType === 'L'" class="display-block">Payment Total: <b>{{booking.total}}€</b></span>
                        </div>
                    </div>
                </div> <!-- end block -->   

                <div class="block block-detail">
                    <div class="header">
                        <div class="col col-md-4">
                            <h4 class="pull-left">{{ translations.BOOKING_ROOMS.TITLE }}</h4>
                        </div>
                    </div>

                    <div class="content" ng-repeat="room in establishment.rooms">
                        <h3>Room: <b>{{room.roomDescription}}/{{room.characteristic}}</b></h3>
                        <div class="col col-md-4">
                            <table class="table">
                                <tr>
                                    <td>Persons:</td>
                                    <td class="bold list">
	                                    <span>{{room.occupancy.adultCount}} adults</span>
	                                    <span>{{room.occupancy.childCount}} childs</span>
	                                    <span>{{room.occupancy.babyCount}} babys</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Rates:</td>
                                    <td ng-repeat="rate in room.rates" class="bold list">
                                    	<span ng-if="rate.description">{{rate.description}}</span>
                                    	<span ng-if="rate.amount">{{rate.amount}}{{rate.currency}} ({{rate.fromDate}} - {{rate.toDate}}, {{rate.nights}} nights)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Board:</td>
                                    <td class="bold">{{room.boardType}}</td>
                                </tr>
                                <tr>
                                    <td>Base board:</td>
                                    <td class="bold">{{room.baseBoardType}}</td>
                                </tr>
                                <tr>
                                    <td>Room nights:</td>
                                    <td class="bold">{{room.roomNight}}</td>
                                </tr>
                                <tr>
                                    <td>Suplements included:</td>
                                    <td ng-if="!room.supplements && !room.discounts" class="bold">None</td>
                                    <td ng-repeat="supplement in room.supplements" class="bold">{{supplement.description}}</td>
                                    <td ng-repeat="discount in room.discounts" class="bold">{{discount.description}} (Adults:{{discount.adultNumber}}, Childrens:{{discount.childrenNumber}}) {{discount.percentaje}}%</td>
                                </tr>
                                <tr>
                                    <td>Paxes:</td>
                                    <td ng-repeat="customer in room.occupancy.guestList.customers" class="bold list">
                                    	<span>Age: {{customer.age}} {{customer.name}} {{customer.lastName}}</span>
                                    </td>
                                </tr>
                            </table>

                        </div>
<!--                         <div ng-if="establishment.businessType === 'L'" class="col col-md-4"> -->
<!--                              <div class="list"> -->
<!--                                 <b>Total confirmed with the customers</b> -->
<!--                                 <h1{{room.roomTotal.totalAmount}}€</h1> -->
<!--                              </div> -->
<!--                             <div class="list"> -->
<!--                                 <span>Room Price: <b>{{room.roomTotal.totalAmount}}€</b></span> -->
<!--                                 <span>10% IVA: <b>11€</b></span> -->
<!--                                 <span class="italic">Not include the municipale amount of 0,50€ per person/night</span> -->
<!--                              </div> -->
<!--                         </div> -->
            
                        <div class="col col-md-4 text-right pull-right"> <!-- rectangulos de la derecha -->
                            <div class="col-md-4 block-day right out">
                                <div class="check">CHECK OUT</div>
                                <div class="box">
                                    <h4>{{room.monthTo}}</h4>
                                    <h1>{{room.dayTo}}</h1>
                                    <span>{{room.yearTo}}</span>
                                </div>
                            </div>
                            <div class="col-md-4 block-day right in">
                                <div class="check">CHECK IN</div>
                                <div class="box">
                                    <h4>{{room.monthFrom}}</h4>
                                    <h1>{{room.dayFrom}}</h1>
                                    <span>{{room.yearFrom}}</span>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end content -->

                </div> <!-- end block -->  
    
                <div id="conditions" class="block block-detail">
                    <div class="header">
                        <div class="col col-md-4">
                            <h4 class="pull-left">{{ translations.BOOKING_CONDITIONS.TITLE }}</h4>
                        </div>
                    </div>

                    <div class="content">
                        <div class="col col-md-6 condition-group">
                            <ul class="nav navbar">
                                <li ng-repeat="comment in vm.booking.comments"><b>{{comment}}</b>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div> <!-- end block -->  

                <div class="block block-detail">
                    
                    <div class="header">
                        <div class="col col-md-4">
                            <h4 class="pull-left">Ticket Management</h4>
                        </div>
                        <div class="col col-md-4">
                        </div> 
                        <div ng-class="{available: establishment.status == 'BOOKING', canceled: establishment.status == 'CANCELLED', modified: establishment.status == 'MODIFIED'}" class="col col-md-4 status ">
                            <span><small>Booking Status</small></br><b class="white">{{establishment.status}}</b></span>
                        </div>  
                    </div>

                    <div class="content">
                        <div class=" col-md-6">
                             <form role="form">
                                <span>Create a new ticket</span>
                                <div class="form-group styled-select">
                                    <select class="form-control">
                                        <option>Invalid Credit Car</option>
                                        <option>No Show by Invalid Credit Card</option>
                                        <option>No Show by Valid Credit Card</option>
                                        <option>Cancellation by Invalid Credit Card</option>
                                        <option>Cancellation by Valid Credit Card</option>
                                        <option>Modification</option>
                                    </select>
                                </div>
                                 <div class="form-group">
                                     <textarea class="form-control" placeholder="Leave a coment."></textarea>
                                 </div>
                            </form>
                            <button ng-click="" class="btn btn-default btn-turquesa ng-binding" type="submit">Send</button>
                        </div>
                        <div class=" col-md-6">
                            <span class="display-block list"><b>Booking history:</b></span>
                            <div class="comment list">
                                <span><b>Hotelbeds</b>, 17/09/14 16:32hrs:</span>
                                <span>Booking made</span>
                            </div>

<!--
                            <div class="comment list">
                                <span><b>Steban Garcia</b>, 17/09/14 16:31hrs:</span>
                                <span>Client call us for i don't know why...</span>
                            </div>  
-->

                        </div>
                    </div>
                </div> <!-- end block -->  

            </div>

        </section> <!-- end section -->

    </div> <!-- end wrap -->

</div> <!-- end wrapper -->

    