<div class="container">
    <div class="sidebar-left navbar-collapse navbar-ex1-collapse">
            
            <button ng-click="isActive = !isActive" data-toggle="dropdown" class="open-notifications" href="#">
                <span class="badge badge-alert-bg">  </span>
            </button>
            <div ng-class="{active: isActive}" class="inside-left">  
               <ul class="notification">
                   <button class="btn right close-norification"><span class="glyphicon glyphicon-chevron-left"></span></button>
                    <li class="important">
                        <span class="title"><span class="glyphicon glyphicon-warning-sign"></span>IMPORTANT MESSAGES</span>
                       <a>
                            <em aria-hidden="true" data-dismiss="alert" class="pull-right text-muted delete" type="button">Delete</em>
                            <div class="info">
                                <h4>John Smith</h4>
                            </div>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            <div class="text-center">
                                <button type="button" class="btn btn-default">Botón normal</button>
                            </div>
                        </a>
                        <a>
                            <em aria-hidden="true" data-dismiss="alert" class="pull-right text-muted delete" type="button">Delete</em>
                            <div class="info">
                                <h4>John Smith</h4>
                            </div>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            <div class="text-center">
                                <button type="button" class="btn btn-default">Botón normal</button>
                            </div>
                        </a>
                    </li>
                   <li>
                        <span class="title"><span class="glyphicon glyphicon-envelope"></span>All Mensajes (6)</span>
                        <em aria-hidden="true" data-dismiss="alert" class="pull-right text-muted delete all" type="button">Delete All</em>
                        <a>
                            <em aria-hidden="true" data-dismiss="alert" class="pull-right text-muted delete" type="button">Delete</em>
                            <div class="info">
                                <h4>John Smith</h4>
                            </div>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            <div class="text-center">
                                <button type="button" class="btn btn-default">Botón normal</button>
                            </div>
                        </a>
                        <a>
                            <em aria-hidden="true" data-dismiss="alert" class="pull-right text-muted delete" type="button">Delete</em>
                            <div class="info">
                                <h4>John Smith</h4>
                            </div>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            <div class="text-center">
                                <button type="button" class="btn btn-default">Botón normal</button>
                            </div>
                        </a>
                       <a>
                            <em aria-hidden="true" data-dismiss="alert" class="pull-right text-muted delete" type="button">Delete</em>
                            <div class="info">
                                <h4>John Smith</h4>
                            </div>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            <div class="text-center">
                                <button type="button" class="btn btn-default">Botón normal</button>
                            </div>
                        </a>
                       <a>
                            <em aria-hidden="true" data-dismiss="alert" class="pull-right text-muted delete" type="button">Delete</em>
                            <div class="info">
                                <h4>John Smith</h4>
                            </div>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            <div class="text-center">
                                <button type="button" class="btn btn-default">Botón normal</button>
                            </div>
                        </a>
                       <a>
                            <em aria-hidden="true" data-dismiss="alert" class="pull-right text-muted delete" type="button">Delete</em>
                            <div class="info">
                                <h4>John Smith</h4>
                            </div>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            <div class="text-center">
                                <button type="button" class="btn btn-default">Botón normal</button>
                            </div>
                        </a>

                   </li>

                </ul>
            </div>                                                          
    	</div> <!-- end sidebar left -->
            
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <ul class="menu nav nav-pills navbar-nav navbar-left">
                    <li><a class="page-scroll" href="#/dashboard"><span class="glyphicon glyphicon-home"></span></a></li>
                    <li><a href="#/quick-planner-day.view">Quick planner</a></li>
                    <li><a href="#/booking">Booking</a></li>
                    <li><a href="#/rates">Rates & Inventory</a></li>
                    <li><a href="#/pepe">Finance</a></li>
                    <li><a href="#/hotel-info">Hotel info</a></li>
                    <li><a href="#/pepe">Reports</a></li>
                </ul>
           
            <ul class="nav navbar-top-links navbar-right menu-user">
               <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="glyphicon glyphicon-user"></span>
                   </a>
                    
                   <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
    
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                    
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#" class="text-center">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            
             <form class="navbar-form navbar-right styled-select" role="select">
                <select class="form-control">
                  <option>Mallorca Palace, San coma</option>
                  <option>My Hotel Name</option>
                  <option>My Hotel Name</option>
                  <option>My Hotel Name</option>
                  <option>My Hotel Name</option>
                </select>
            </form>
        </div>
        </div>