

            <!-- Top Section -->

            <section class="dashborar-section">

                    <div class="header-section"> <!-- mensaje de bienvenida -->
                        <div class="row">
                            <h1>Welcome John Malkovich</h1>
                            <h3>Mallorca Palace, San Coma</h3>
                            <div class="link-line-left">
                                <a href="" class="btn btn-default btn-lg btn-turquesa">OPEN QUICK MANAGEMENT</a>
                                <a href="" class="btn btn-default">EDIT AVAILABILITY</a>
                                <a href="" class="btn btn-default">APPLY AN OFFER</a>
                                <a href="" class="btn btn-default">CHECK RATES</a>
                            </div>  
                        </div>
                    </div>


                    <!-- Alerts  -->

                    <div class="col col-md-8">
                        <div class="alert alert-warning" role="alert">
                            <em class="pull-right text-muted close" type="button" data-dismiss="alert" aria-hidden="true"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></em>
                            <h4 class="header">No Rooms Available</h4> 
                            <div class="text">
                                <p>Double room<span class="text-danger"></strong> 15.12.14 - 31.12.14</p>
                                <a class="btn btn-default" href="">Increase Availability</a>
                            </div>
                        </div>
                        <div class="alert alert-warning" role="alert">
                            <em class="pull-right text-muted close" type="button" data-dismiss="alert" aria-hidden="true"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></em>
                            <h4 class="header">Content missing</h4>
                            <div class="text">
                                <p>Your <b>content</b> is only<span class="text-danger"></strong> 45% completed</p>
                                <a class="btn btn-default" href="">Complete content</a>
                            </div>
                        </div>
                        <div class="alert alert-recomendation" role="alert">
                            <em class="pull-right text-muted close" type="button" data-dismiss="alert" aria-hidden="true"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></em>
                            <h4 class="header">Low sales</h4>
                            <div class="text">
                                <p>Sales on <span class="text-danger">Nov 17 - Nov 23 </span>are <b>45% lower</b> dan your competitiors</p>
                                <a class="btn btn-default" href="">Apply an offer</a>
                            </div>
                        </div>
                        <div class="alert" role="alert">
                            <em class="pull-right text-muted close" type="button" data-dismiss="alert" aria-hidden="true"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></em>
                            <h4 class="header">Survey</h4>
                            <div class="text">
                                <p>Help us improve this portal, take a <b>3 minutes survey:</b></p>
                                <a class="btn btn-default" href="">Take Survey</a>
                            </div>
                        </div>
                    </div> <!-- end col alerts left --> 
                    
                    <div class="col col-md-4">
                         
                        <div ng-controller="AccordionDemoCtrl">

                            <accordion close-others="oneAtATime">
                                <accordion-group is-open="status.open1">
                                    
                                    <accordion-heading clasa="title-panel">
                                        <span class="glyphicon glyphicon-transportation"></span>Arrivals Today (33) <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open1, 'glyphicon-chevron-down': !status.open1}"></i>
                                    </accordion-heading>
                                    <table class="table default">
                                         <tbody>
                                            <tr>
                                                <td>Laure Yoquese</td>
                                                <td>2 Rooms</td>
                                                <td>2 Nights</td>
                                             </tr>
                                             <tr>
                                                <td>Laure Yoquese</td>
                                                <td>2 Rooms</td>
                                                <td>2 Nights</td>
                                             </tr>
                                             <tr>
                                                <td>Laure Yoquese</td>
                                                <td>2 Rooms</td>
                                                <td>2 Night</td>
                                             </tr>
                                             <tr>
                                                <td colspan="5"><a class="text-orange" href="">All Cancellations and modifications</a></td>
                                             </tr>
                                         </tbody>
                                    </table>
                                </accordion-group>
                                
                                <accordion-group is-open="status.open2">
                                    <accordion-heading clasa="title-panel">
                                       <span class="glyphicon glyphicon-cancelled"></span> Latest cancelations and modifications: <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open2, 'glyphicon-chevron-down': !status.open2}"></i>
                                    </accordion-heading>
                                        <table class="table default">
                                             <tbody>
                                                <tr>
                                                    <td>Laure Yoquese</td>
                                                    <td>2 Rooms</td>
                                                    <td>2 Night</td>
                                                 </tr>
                                                 <tr>
                                                    <td>Laure Yoquese</td>
                                                    <td>2 Rooms</td>
                                                    <td>2 Night</td>
                                                 </tr>
                                                 <tr>
                                                    <td>Laure Yoquese</td>
                                                    <td>2 Rooms</td>
                                                    <td>2 Night</td>
                                                 </tr>
                                                 <tr>
                                                    <td colspan="5"><a class="text-orange" href="">All arrivals</a></td>
                                                 </tr>
                                             </tbody>
                                        </table>
                                </accordion-group>
                                
                                <accordion-group is-open="status.open3">
                                    <accordion-heading clasa="title-panel">
                                       <span class="glyphicon glyphicon-made"></span> Bookings made today (8) <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open3, 'glyphicon-chevron-down': !status.open3}"></i>
                                    </accordion-heading>
                                        <table class="table default">
                                            <thead>
                                                <th colspan="5"></th>
                                             </thead>
                                             <tbody>
                                                <tr>
                                                    <td>Laure Yoquese</td>
                                                    <td>2 Rooms</td>
                                                    <td class="text-canceled">Canceled</td>
                                                 </tr>
                                                 <tr>
                                                    <td>Laure Yoquese</td>
                                                    <td>2 Rooms</td>
                                                    <td class="text-modified">Modified</td>
                                                 </tr>
                                                 <tr>
                                                    <td>Laure Yoquese</td>
                                                    <td>2 Rooms</td>
                                                    <td class="text-canceled">Canceled</td>
                                                 </tr>
                                                 <tr>
                                                    <td colspan="5"><a class="text-orange" href="">All arrivals</a></td>
                                                 </tr>
                                             </tbody>
                                        </table>
                                </accordion-group>
                            </accordion>
                        </div>

                    </div> <!-- end col right -->
            </section> <!-- end section -->
  

     