<section id="month-view" class="month-section ">
    
    <div class="row default-header">
        <div class="col col-xs-6 col-md-4"> 
            <button type="" value="" class="btn btn-link"><span class="glyphicon glyphicon-chevron-left"></span>Go back</button>
        </div>
        <div class="col col-xs-6 col-md-8">
             <button type="" value="" class="btn btn-turquesa pull-right">SAVE CHANGES</button>
        </div>
    </div>
    
    <div class="col col-md-8 padding-right">
        <h4 class="title border-bottom">About Hotel</h4>
        
            <div class="block">
                <table class="table table-elements block-centered">
                    <tr>
                        <td>Year of Construction</td>
                        <td class="type-input">2006</td>  
                    </tr>
                    <tr>
                        <td>Year of month recent renovation</td>
                        <td class="type-input">--</td>  
                    </tr>
                    <tr>
                        <td>  Numbers of floors (main building)</td>
                        <td class="type-input">--</td>  
                    </tr>
                    <tr>
                        <td>Numbers of floor (annexe)</td>
                        <td class="type-input">--</td>  
                    </tr>

                </table>
            </div>  
            
    </div>
    <div class="col col-md-4 padding-left">
        <h4 class="title">25% Complete</h4>
        <div class="progress">
            <div style="width: 25%" type="info" value="100" class="progress-bar danger"> </div>
        </div>
    </div>
    
</section> <!-- end section -->

