<section id="month-view" class="month-section ">
            <!--    Esto es la paginacion de Global Management    -->

    <div class="row default-header">
        <div class="col col-xs-6 col-md-4"> 
            <button type="" value="" class="btn btn-link goback"><span class="glyphicon glyphicon-chevron-left"></span>Go back</button>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-12 col-md-12">
            <h4 class="title border-bottom">QUICK IMPROVEMENT</h4>
        </div>

        <div class="col-xs-3 col-md-3">
            <div class="block alert alert-warning full-width" role="alert">
                <h4 class="header">Required</h4> 
                <div class="text">
                    <p>Is your hotel accessible for wheell chairs</p>
                    <form role="form">
                         <div class="radio">
                            <input type="radio" value="male" name="gender" id="male">
                            <label class="radio-label" for="male">Yes</label>
                            <input type="radio" value="female" name="gender" id="female">
                            <label class="radio-label" for="female">No</label>
                        </div>
                        <button class="btn btn-turquesa pull-right">Save Changes</button>
                    </form>
                </div>
            </div>

        </div> <!-- end column -->

        <div class="col col-xs-9 col-md-9">

            <div class="col-xs-12 col-md-12">
                <div class="block tabs">
                    <div class="box">
                        <div class="content">

                            <tabset vertical="true" type="pills">
                                <tab heading="Conditions">Conditions</tab>
                                <tab heading="Stuff">Stuff</tab>
                                <tab heading="Services">
                                    <form role="form">
                                        <table class="table">
                                            <tr>
                                                <td>
                                                    <input type="checkbox" class="css-checkbox" id="1" checked>
                                                    <label class="css-label" name="" for="1">Room service</label>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label for="" class="small">Quanty: </label>
                                                        <input class="type-input mini" type="" class="form-control" id="" value="6">
                                                  </div>
                                                </td>
                                                <td>
                                                    <input type="checkbox" class="css-checkbox checkbox-right" id="fee1">
                                                     <label class="css-label" name="" for="fee1">Fee:</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="checkbox" class="css-checkbox" id="2"  checked>
                                                    <label class="css-label" name="" for="2">Laundry service</label>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label for="" class="small">Quanty: </label>
                                                        <input class="type-input mini" type="" class="form-control" id="" value="1">
                                                  </div>
                                                </td>
                                                <td>
                                                    <input type="checkbox" class="css-checkbox checkbox-right" id="fee" checked>
                                                     <label class="css-label" name="" for="fee">Fee:</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="checkbox" class="css-checkbox" id="3">
                                                    <label class="css-label" name="" for="3">Launderette</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="checkbox" class="css-checkbox" id="4">
                                                    <label class="css-label" name="" for="4">Cloackroom</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="checkbox" class="css-checkbox" id="5" checked>
                                                    <label class="css-label" name="" for="5">Medical Service</label>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label for="" class="small">Quanty: </label>
                                                        <input class="type-input mini" type="" class="form-control" id="" value="2">
                                                  </div>
                                                </td>
                                                <td>
                                                    <input type="checkbox" class="css-checkbox checkbox-right" id="fee">
                                                     <label class="css-label" name="" for="fee">Fee:</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="checkbox" class="css-checkbox" id="6">
                                                    <label class="css-label" name="" for="6">Bicycle storage</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="checkbox" class="css-checkbox" id="7">
                                                    <label class="css-label" name="" for="7">Bicycle hire service</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="checkbox" class="css-checkbox" id="8">
                                                    <label class="css-label" name="" for="8">Day-care centr</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="checkbox" class="css-checkbox" id="9" checked>
                                                    <label class="css-label" name="" for="9">Babbysitting service</label>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label for="" class="small">Quanty: </label>
                                                        <input class="type-input mini" type="" class="form-control" id="" value="7">
                                                  </div>
                                                </td>
                                                <td>
                                                    <input type="checkbox" class="css-checkbox checkbox-right" id="fee" checked>
                                                     <label class="css-label" name="" for="fee">Fee:</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="checkbox" class="css-checkbox" id="10" checked>
                                                    <label class="css-label" name="" for="10">Car hire</label>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label for="" class="small">Quanty: </label>
                                                        <input class="type-input mini" type="" class="form-control" id="" value="3">
                                                  </div>
                                                </td>
                                                <td>
                                                    <input type="checkbox" class="css-checkbox checkbox-right" id="fee" checked>
                                                     <label class="css-label" name="" for="fee">Fee:</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="checkbox" class="css-checkbox" id="11">
                                                    <label class="css-label" name="" for="11">Transfer service</label>
                                                </td>
                                            </tr>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="5" class="text-right">
                                                        <button class="btn btn-turquesa" type="" value="">Save Changes</button>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </form>    
                                </tab>
                                <tab heading="Timetable">Vertical content 1</tab>
                                <tab heading="Sport">Vertical content 1</tab>
                                <tab heading="Catering">Vertical content 1</tab>
                                <tab heading="Business">Vertical content 1</tab>
                                <tab heading="Entertainment">Vertical content 1</tab>
                                <tab heading="Health">Vertical content 1</tab>
                            </tabset>
                            
                        </div> <!-- end content -->
                    </div> <!-- end box -->
                </div> <!-- end block -->
            </div> <!-- end column -->


        </div><!-- end column -->

    </div><!-- end row -->

</section> <!-- end section -->

