<section id="month-view" class="month-section ">
            <!--    Esto es la paginacion de Global Management    -->

        <div class="row block">
            <ul class="nav navbar-nav nav-manage">
                <li class="active"><a href="">General information</a></li>
                <li><a href="#/hotel-info-services">Service</a></li>
                <li><a href="">Rooms</a></li>
                <li><a href="">Photos</a></li>
            </ul>
        </div>  

        <div class="row">
            <div class="col-xs-4 col-md-4">
                <h4 class="title">QUICK IMPROVEMENT</h4>
                <div class="block alert alert-warning full-width" role="alert">
                    <h4 class="header">Airport distance</h4> 
                    <div class="text">
                        <p class="magenta bold"> How far is the Airport from Mallorca Palace?</p>
                        <form role="form">
                            <input type="text" class="form-control" id="id">
                            <div class="buttons-inline  buttons-default">
                                <button type="button" class="btn btn-turquesa">SAVE CHANGES</button>
                                <button type="button" class="btn btn-link text-orange pull-right">NEXT QUESTION<span class="glyphicon glyphicon-chevron-right-orange"></span></button>
                            </div>    
                        </form>
                    </div>
                </div>

                <h4 class="title">DESCRIPTION</h4>
                <div class="block block-progressbar">

                    <div class="box">
                        <header class="header">
                            <div class="progress">
                               <div class="progress-bar available" value="100" type="info" style="width: 100%"> </div>
                            </div>
                             <span class="procent">100% COMPLETE</span>
                        </header>
                        <div class="content">
                            <p>Donec nec nulla eget eros pulvinar dapibus vitae sit amet ipsum. Duis vitae tortor sodales, bibendum eros vel, ornare lectus. Proin porta lorem nec mauris iaculis, sed rutrum ipsum scelerisque. Nunc ullamcorper pharetra metus, sit amet semper felis sodales nec. Curabitur pulvinar dapibus vitae sit amet ipsum. Duis vitae tortor sodales, bibendum eros vel, ornare lectus. Proin porta. pulvinar dapibus vitae sit amet ipsum. Duis vitae tortor sodales, bibendum eros vel, ornare lectus. Proin porta...</p>

                            <p class="text-center">
                                <button type="button" class="btn btn-blue">SEE MORE</button>
                            </p>    
                        </div>
                    </div>
                </div> <!-- end block -->

            </div> <!-- end column -->

        <div class="col col-xs-8 col-md-8">

            <div class="col-xs-12 col-md-12">
                <h4 class="title">LOCATION</h4>
                <div class="block block-progressbar">
                    <div class="box">
                        <header class="header">
                            <div class="progress">
                               <div class="progress-bar warning" value="100" type="info" style="width: 67%"> </div>
                            </div>
                             <span class="procent">67% COMPLETE</span>
                        </header>
                        <div class="content">

                            <div class="col col-md-8 padding-right column">
                                <div class="map">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12306.971128427489!2d2.7229291397949313!3d39.542856212533856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xbabf0227d04f6d38!2sTUI+Travel+Accommodation+%26+Destinations!5e0!3m2!1ses!2ses!4v1418295690334" frameborder="0" style="border:0">
                                    </iframe>
                                </div>
                            </div>  <!-- end column -->  

                            <div class="col col-md-4 column">
                                <h4 class="title">POINTS OF INTEREST</h4>
                                <table class="table list-table margin-left">
                                    <tr>
                                        <td>Sagrada Familia</td>
                                        <td>1500 m</td>
                                    </tr>
                                     <tr>
                                        <td>MEAM</td>
                                        <td>249 m</td>
                                    </tr>
                                     <tr>
                                        <td>Plaça Sant Jaume</td>
                                        <td>57 m</td>
                                    </tr>
                                </table>

                                <h4 class="title">POINTS OF INTEREST</h4>
                                <table class="table list-table margin-left">
                                    <tr>
                                        <td>Mercat de Sant...</td>
                                        <td>426 m</td>
                                    </tr>
                                     <tr>
                                        <td>City Center</td>
                                        <td>1500 m</td>
                                    </tr>
                                     <tr>
                                        <td>Beach</td>
                                        <td>900 m</td>
                                    </tr>
                                </table>
                                <p class="text-center block">
                                    <button class="btn btn-blue" type="submit">SEE MORE</button>
                                </p>
                            </div>  <!-- end column -->

                        </div> <!-- end content -->
                    </div> <!-- end box -->
                </div> <!-- end block -->
            </div> <!-- end column -->

            <div class="col-md-6">
                <h4 class="title">ABOUT HOTEL</h4>
                <div class="block block-progressbar">
                    <div class="box">
                        <header class="header">
                            <div class="progress">
                               <div class="progress-bar danger" value="100" type="info" style="width: 25%"> </div>
                            </div>
                            <span class="procent">25% COMPLETE</span>
                        </header>
                        <div class="content">
                            <table class="table list-table">
                                    <tr>
                                        <td>Year of construction</td>
                                        <td>2006</td>
                                    </tr>
                                     <tr>
                                        <td>Year of the most recent renovation</td>
                                        <td>2011</td>
                                    </tr>
                                     <tr>
                                        <td>Total numbers of rooms</td>
                                        <td>125</td>
                                    </tr>

                                </table>
                            <p class="text-center block">
                                <button class="btn btn-blue" type="submit">SEE MORE</button>
                            </p> 
                        </div>
                    </div>
                </div><!-- end block -->
            </div> <!-- end column -->
            <div class="col-md-6">
                <h4 class="title">CERTIFICATES</h4>
                <div class="block block-progressbar">
                    <div class="box">
                        <header class="header">
                            <div class="progress">
                               <div class="progress-bar warning" value="100" type="info" style="width: 63%"> </div>
                            </div>
                             <span class="procent">63% COMPLETE</span>
                        </header>
                        <div class="content">
                            <table class="table list-table">
                                    <tr>
                                        <td>Green Gloe 21</td>
                                        <td>OCT 2014 - NOV 2015</td>
                                    </tr>
                                     <tr>
                                        <td>Travel life</td>
                                        <td>OCT 2014 - NOV 2015</td>
                                    </tr>
                                     <tr>
                                        <td>Rainforest Alliance</td>
                                        <td>OCT 2014 - NOV 2015</td>
                                    </tr>

                                </table>
                            <p class="text-center block">
                                <button class="btn btn-blue" type="submit">SEE MORE</button>
                            </p> 
                        </div>
                    </div>
                </div><!-- end block -->
            </div> <!-- end column -->

        </div><!-- end column -->

    </div><!-- end row -->

</section> <!-- end section -->

