<section id="month-view" class="month-section ">

        <!--    Esto es la paginacion de Global Management    -->

    <div class="row block">
        <ul class="nav navbar-nav nav-manage">
            <li class="active"><a href="#/quick-planner-day.view">1 day</a></li>
            <li><a href="">7 days</a></li>
            <li><a href="#/quick-planner-month.view">30 days</a></li>
            <li><a href="">120 days</a></li>
            <li><a href="">365 days</a></li>
        </ul>
    </div>

    
    
   <!--  Aquí comienza la paginación de la tabla -->
    

        <div class="pagination-calendar pagination-day">
            <div class="col-xs-6 col-md-4"> 
                <form role="select" class="navbar-form navbar-left">
                    <select class="form-control">
                      <option>All Rooms</option>
                      <option>Double</option>
                      <option>Family</option>
                      <option>Children</option>
                      <option>Adult</option>
                    </select>
                </form>
            </div>
            <div class="col-xs-6 col-md-4">
                <ul class="pager">
                  <li><a href="#"><span class="glyphicon glyphicon-calendar-left"></span></a></li>
                    <span class="title-pager">October, 02, 2014</span>
                  <li><a href="#"><span class="glyphicon glyphicon-calendar-right"></span></a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-4">
                 <ul class="nav nav-pills navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-search"></span>Find a Boocking</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-print"></span>Print</a></li>
                </ul>
            </div>
        </div>

        <div id="stickyline" class="row block">
            <table id="sorted" class="table tablesorter table-hover table-day">
                <thead>
                    <tr>
                        <th>Ref.</th>
                        <th>Client (76)</th>
                        <th>Check-in (77)</th>
                        <th>Check-out (25)</th>
                        <th>Rooms</th>
                        <th>Adult / Child / Babie</th>
                        <th>Rates</th>
                        <th>Status</th>
                        <th>New</th>
                        <th><span class="glyphicon glyphicon-comment"></span></th>
                    </tr>
                </thead>
                <tbody> 
                     <tr>
                         <td>15648</td>
                         <td>Yo quese</td>
                         <td>Nov 18</td>
                         <td>Nov 23</td>
                         <td>1 Dobule</br>1 Triple</td>
                         <td>2/1/0</td>
                         <td>100€ - No Refundable<br/>100€ - No Refundable</td>
                         <td class="text-available">Boocked</td>
                         <td class="text-orange">NEW</td>
                         <td><span class="glyphicon glyphicon-comment"></span>2</td>
                    </tr>
                    <tr>
                         <td>15647448</td>
                         <td>Yo quese</td>
                         <td>Nov 18</td>
                         <td>Nov 23</td>
                         <td>1 Dobule</td>
                         <td>2/1/0</td>
                         <td>100€ - No Refundable</td>
                         <td class="text-available">Boocked</td>
                        <td class="text-orange">NEW</td>
                         <td></span></td>
                    </tr>
                    <tr>
                         <td>156453248</td>
                         <td>Yo quese</td>
                         <td>Nov 18</td>
                         <td>Nov 23</td>
                        <td>1 Dobule</td>
                         <td>2/1/0</td>
                         <td>100€ - No Refundable</td>
                         <td class="text-available">Boocked</td>
                        <td class="text-orange">NEW</td>
                        <td><span class="glyphicon glyphicon-comment"></span>3</td>
                    </tr>
                    <tr>
                         <td>156453548</td>
                         <td>Yo quese</td>
                         <td>Nov 18</td>
                         <td>Nov 23</td>
                        <td>1 Dobule</td>
                         <td>2/1/0</td>
                         <td>100€ - No Refundable</td>
                         <td class="text-available">Boocked</td>
                        <td class="text-orange">NEW</td>
                        <td><span class="glyphicon glyphicon-comment"></span>2</td>
                    </tr>
                    <tr>
                         <td>15645458</td>
                         <td>Yo quese</td>
                         <td>Nov 18</td>
                         <td>Nov 23</td>
                        <td>1 Dobule</td>
                         <td>2/1/0</td>
                         <td>100€ - No Refundable</td>
                         <td class="text-available">Boocked</td>
                        <td class="text-orange">NEW</td>
                        <td><span class="glyphicon glyphicon-comment"></span>3</td>
                    </tr>
                    <tr>
                         <td>234663</td>
                         <td>Yo quese</td>
                         <td>Nov 18</td>
                         <td>Nov 23</td>
                        <td>1 suit</td>
                         <td>2/1/0</td>
                         <td>120€ - No Refundable</td>
                         <td class="text-available">Boocked</td>
                         <td class="text-orange">NEW</td>
                         <td></td>
                    </tr>
                    <tr>
                         <td>7444354</td>
                         <td>Yo quese</td>
                         <td>Nov 18</td>
                         <td>Nov 23</td>
                        <td>1 triple</td>
                         <td>2/1/0</td>
                         <td>80€ - Baisc</td>
                         <td class="text-available">Boocked</td>
                         <td class="text-orange">NEW</td>
                         <td></td>
                    </tr>
                    <tr>
                         <td>784645</td>
                         <td>Yo quese</td>
                         <td>Nov 18</td>
                         <td>Nov 23</td>
                        <td>1 Dobule</br>1 Triple</td>
                         <td>2/1/0</td>
                         <td>100€ - No Refundable<br/>100€ - No Refundable</td>
                         <td class="text-available">Boocked</td>
                        <td class="text-orange">NEW</td>
                         <td></td>
                    </tr>
                    <tr class="canceled">
                         <td>6436334</td>
                         <td>Yo quese</td>
                         <td>Nov 18</td>
                         <td>Nov 23</td>
                        <td>1 Dobule</td>
                         <td>2/1/0</td>
                         <td>150€ - Weekends</td>
                         <td class="text-canceled">Canceled</td>
                          <td class="text-orange">NEW</td>
                         <td></td>
                    </tr>
                    <tr>
                         <td>65464645</td>
                         <td>Yo quese</td>
                         <td>Nov 18</td>
                         <td>Nov 23</td>
                         <td>1 Dobule</br>1 Triple</td>
                         <td>2/1/0</td>
                         <td>100€ - No Refundable<br/>100€ - No Refundable</td>
                         <td class="text-available">Boocked</td>
                        <td class="text-orange">NEW</td>
                         <td></td>
                    </tr>
                    <tr class="modified">
                         <td>4234234543</td>
                         <td>Yo quese</td>
                         <td>Nov 18</td>
                         <td>Nov 23</td>
                        <td>1 Dobule</td>
                         <td>2/1/0</td>
                         <td>120€ - Baisc</td>
                         <td class="text-modified">Modified</td>
                        <td class="text-orange">NEW</td>
                        <td></span></td>
                    </tr>
                    <tr>
                         <td>442423</td>
                         <td>Yo quese</td>
                         <td>Nov 18</td>
                         <td>Nov 23</td>
                        <td>1 Dobule</td>
                         <td>2/1/0</td>
                         <td>80€ - Baisc</td>
                         <td class="text-available">Boocked</td>
                        <td class="text-orange">NEW</td>
                         <td></td>
                    </tr>
                    <tr>
                         <td>15648</td>
                         <td>Yo quese</td>
                         <td>Nov 18</td>
                         <td>Nov 23</td>
                        <td>1 Dobule</br>1 Triple</td>
                         <td>2/1/0</td>
                         <td>100€ - No Refundable<br/>100€ - No Refundable</td>
                         <td class="text-available">Boocked</td>
                        <td class="text-orange">NEW</td>
                         <td><span class="glyphicon glyphicon-comment"></span>1</td>
                    </tr>
                    <tr>
                         <td>15647448</td>
                         <td>Yo quese</td>
                         <td>Nov 18</td>
                         <td>Nov 23</td>
                        <td>1 Dobule</td>
                         <td>2/1/0</td>
                         <td>100€ - No Refundable</td>
                         <td class="text-available">Boocked</td>
                        <td class="text-orange">NEW</td>
                         <td></span></td>
                    </tr>
                    <tr>
                         <td>156453248</td>
                         <td>Yo quese</td>
                         <td>Nov 18</td>
                         <td>Nov 23</td>
                        <td>1 Dobule</td>
                         <td>2/1/0</td>
                         <td>100€ - No Refundable</td>
                         <td class="text-available">Boocked</td>
                        <td class="text-orange">NEW</td>
                         <td><span class="glyphicon glyphicon-comment"></span>3</td>
                    </tr>
                    <tr>
                         <td>156453548</td>
                         <td>Yo quese</td>
                         <td>Nov 18</td>
                         <td>Nov 23</td>
                        <td>1 Dobule</td>
                         <td>2/1/0</td>
                         <td>100€ - No Refundable</td>
                         <td class="text-available">Boocked</td>
                        <td class="text-orange">NEW</td>
                         <td><span class="glyphicon glyphicon-comment"></span>4</td>
                    </tr>
                    <tr>
                         <td>15645458</td>
                         <td>Yo quese</td>
                         <td>Nov 18</td>
                         <td>Nov 23</td>
                        <td>1 Dobule</td>
                         <td>2/1/0</td>
                         <td>100€ - No Refundable</td>
                         <td class="text-available">Boocked</td>
                        <td class="text-orange">NEW</td>
                        <td><span class="glyphicon glyphicon-comment"></span>1</td>
                    </tr>
                    <tr>
                         <td>234663</td>
                         <td>Yo quese</td>
                         <td>Nov 18</td>
                         <td>Nov 23</td>
                        <td>1 suit</td>
                         <td>2/1/0</td>
                         <td>120€ - No Refundable</td>
                         <td class="text-available">Boocked</td>
                        <td class="text-orange">NEW</td>
                         <td></td>
                    </tr>
                    <tr>
                         <td>7444354</td>
                         <td>Yo quese</td>
                         <td>Nov 18</td>
                         <td>Nov 23</td>
                         <td>1 triple</td>
                         <td>2/1/0</td>
                         <td>80€ - Baisc</td>
                         <td class="text-available">Boocked</td>
                        <td class="text-orange">NEW</td>
                         <td></td>
                    </tr>
                    <tr>
                         <td>784645</td>
                         <td>Yo quese</td>
                         <td>Nov 18</td>
                         <td>Nov 23</td>
                        <td>1 Dobule</br>1 Triple</td>
                         <td>2/1/0</td>
                         <td>100€ - No Refundable<br/>100€ - No Refundable</td>
                         <td class="text-available">Boocked</td>
                        <td class="text-orange">NEW</td>
                         <td></td>
                    </tr>
                    <tr class="canceled">
                         <td>6436334</td>
                         <td>Yo quese</td>
                         <td>Nov 18</td>
                         <td>Nov 23</td>
                        <td>1 Dobule</td>
                         <td>2/1/0</td>
                         <td>150€ - Weekends</td>
                         <td class="text-canceled">Canceled</td>
                        <td class="text-orange">NEW</td>
                         <td></td>

                    </tr>
                    <tr>
                         <td>65464645</td>
                         <td>Yo quese</td>
                         <td>Nov 18</td>
                         <td>Nov 23</td>
                        <td>1 Dobule</br>1 Triple</td>
                         <td>2/1/0</td>
                         <td>100€ - No Refundable<br/>100€ - No Refundable</td>
                         <td class="text-available">Boocked</td>
                        <td class="text-orange">NEW</td>
                         <td></td>
                    </tr>
                    <tr class="modified">
                         <td>4234234543</td>
                         <td>Yo quese</td>
                         <td>Nov 18</td>
                         <td>Nov 23</td>
                        <td>1 Dobule</td>
                         <td>2/1/0</td>
                         <td>120€ - Baisc</td>
                         <td class="text-modified">Modified</td>
                        <td class="text-orange">NEW</td>
                         <td></span></td>
                    </tr>
                    <tr>
                         <td>442423</td>
                         <td>Yo quese</td>
                         <td>Nov 18</td>
                         <td>Nov 23</td>
                        <td>1 Dobule</td>
                         <td>2/1/0</td>
                         <td>80€ - Baisc</td>
                         <td class="text-available">Boocked</td>
                        <td class="text-orange">NEW</td>
                         <td></td>
                    </tr>

                </tbody>
            </table>

        </div> <!-- end row -->

        <!-- end sticky footer table -->
            
        <div class="row bottom-table table-footer-sticky slidetoggle no-fixed">
            <div class="col-xs-10">
                <table class="table text-left">
                    <thead>
                        <th>Boockin on</th>
                        <th>Single</th>
                        <th>Dobule</th>
                        <th>Triple</th>
                        <th>Suit</th>
                        <th>Mediterrean</th>
                        <th>Total</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>October 2, 2014</b></td>
                            <td>
                                <h3>13</h3>
                                <small>of 60</small>
                            </td>
                            <td>
                                <h3>13</h3>
                                <small>of 60</small>
                            </td>
                            <td>
                                <h3>13</h3>
                                <small>of 60</small>
                            </td>
                            <td>
                                <h3>13</h3>
                                <small>of 60</small>
                            </td>
                            <td>
                                <h3>13</h3>
                                <small>of 60</small>
                            </td>
                            <td>
                                <h3>13</h3>
                                <small>of 60</small>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button type="button" class="btn btn-default btn-sm btntoggle"><span class="glyphicon glyphicon-chevron-down"></span></spanm>   </button>
        </div>

    </section> <!-- end section -->



  