<section id="rates" class="rates-section">
    
    <div class="col col-xs-2 col-md-2 padding-right">
        <div class="block">
            <div class="box">
                <div class="menu-rates">
                    <ul>
                        <li>Rates & Availability</li>
                        <ul>
                            <li><a href="#/rates">Overall view</a></li>
                            <li><a href="#/rates-list" class="active">Rates list</a></li>
                            <li><a href="">Edit prices</a></li>
                            <li><a href="">Create new rate</a></li>
                            <li><a href="">Edit availability</a></li>
                            <li><a href="">Open/close availability</a></li>
                            <li><a href="">Rooms with no avail.</a></li>
                        </ul>
                    </ul> 
                    
                    <ul>
                        <li>Offers</li>
                        <ul>
                            <li><a href="#/offers">Offers list</a></li>
                            <li><a href="">Apply/stop offers</a></li>
                            <li><a href="">Create new offer</a></li>
                        </ul>
                    </ul>
                    <ul>
                        <li>Supplements</li>
                        <ul>
                            <li><a href="#/supplement">Supplements list</a></li>
                            <li><a href="">Base boards</a></li>
                            <li><a href="">Request new supplement</a></li>
                        </ul>
                    </ul>
                             
                    <p>
                        <button class="btn btn-link general"><span class="icons icon-tools"></span>General configuration</button>
                    </p>

                </div>
            </div>
        </div>
    </div>
    
    <div class="col col-xs-10 col-md-10 block padding-left">
        
        <div class="header-default border-bottom">
            <div class="nav pull-left">
                <input type="checkbox" checked="" id="1" class="css-checkbox">
                <label for="1" name="" class="css-label">Active (5)</label>

                <input type="checkbox" checked="" id="2" class="css-checkbox">
                <label for="2" name="" class="css-label">Inactive (1)</label>
            </div>
            <div class="form-group pull-right">
                <label>Sorted By: </label>
                <div role="select" class="styled-select ">
                    <select class="form-control">
                      <option value="">All rooms</option>
                      <option value="">...</option>
                      <option value="">...</option>
                      <option value="">...</option>
                      <option value="">...</option>
                    </select>
                </div>
            </div>
        </div>
        
        <div class="block block-detail block-rate-list">
            <div class="content">
                <div class="col-md-4">
                    <h4 class="bold">BAR<span class="icons icon-linked"></span></h4>
                    <small>Active</small>
                </div>
                <div class="col-md-2">
                    <span>From:</span>
                    <span class="date-list">MAR 1th, 2015</span>
                </div>
                <div class="col-md-2">
                    <span>From:</span>
                    <span class="date-list">MAR 1th, 2015</span>
                </div>
                <div class="col-md-4 last">
                    <button class="btn btn-link text-orange"><span class="icons icon-tools"></span>Rate general configuration</button>
                    <button class="btn btn-link text-orange"><span class="icons icon-edit"></span>Edit prices and availability</button>
                </div>
            </div>
        </div>
        <div class="block block-detail block-rate-list">
            <div class="content">
                <div class="col-md-4">
                    <h4 class="bold">LATAM and Europe markets<span class="icons icon-linked"></span></h4>
                    <small>Active</small>
                </div>
                <div class="col-md-2">
                    <span>From:</span>
                    <span class="date-list">MAR 1th, 2015</span>
                </div>
                <div class="col-md-2">
                    <span>From:</span>
                    <span class="date-list">MAR 1th, 2015</span>
                </div>
                <div class="col-md-4 last">
                    <button class="btn btn-link text-orange"><span class="icons icon-tools"></span>Rate general configuration</button>
                    <button class="btn btn-link text-orange"><span class="icons icon-edit"></span>Edit prices and availability</button>
                </div>
            </div>
        </div>
        <div class="block block-detail block-rate-list">
            <div class="content">
                <div class="col-md-4">
                    <h4 class="bold">Flye Direct</h4>
                    <small>Active</small>
                </div>
                <div class="col-md-2">
                    <span>From:</span>
                    <span class="date-list">MAR 1th, 2015</span>
                </div>
                <div class="col-md-2">
                    <span>From:</span>
                    <span class="date-list">MAR 1th, 2015</span>
                </div>
                <div class="col-md-4 last">
                    <button class="btn btn-link text-orange"><span class="icons icon-tools"></span>Rate general configuration</button>
                    <button class="btn btn-link text-orange"><span class="icons icon-edit"></span>Edit prices and availability</button>
                </div>
            </div>
        </div>
        <div class="block block-detail block-rate-list">
            <div class="content">
                <div class="col-md-4">
                    <h4 class="bold">NRF 15% Winter BB</h4>
                    <small>Active</small>
                </div>
                <div class="col-md-2">
                    <span>From:</span>
                    <span class="date-list">MAR 1th, 2015</span>
                </div>
                <div class="col-md-2 info">
                    <span>From:</span>
                    <span class="date-list text-danger">MAR 1th, 2015</span>
                    <button class="btn btn-danger">Extend rate</button>
                </div>
                <div class="col-md-4 last">
                    <button class="btn btn-link text-orange"><span class="icons icon-tools"></span>Rate general configuration</button>
                    <button class="btn btn-link text-orange"><span class="icons icon-edit"></span>Edit prices and availability</button>
                </div>
            </div>
        </div>
        <div class="block block-detail block-rate-list">
            <div class="content">
                <div class="col-md-4 info">
                    <h4 class="bold">NRF 15% Winter BB</h4>
                    <small class="text-danger bold">Paused
                        <button class="btn btn-danger">Activate rate</button>
                    </small>
                </div>
                <div class="col-md-2">
                    <span>From:</span>
                    <span class="date-list text-danger">PAUSED</span>
                </div>
                <div class="col-md-2">
                    <span>From:</span>
                    <span class="date-list text-danger">PAUSED</span>
                </div>
                <div class="col-md-4 last">
                    <button class="btn btn-link text-orange"><span class="icons icon-tools"></span>Rate general configuration</button>
                    <button class="btn btn-link text-orange"><span class="icons icon-edit"></span>Edit prices and availability</button>
                </div>
            </div>
        </div>
        
    </div> <!-- end column -->

</section> <!-- end section -->


