<!DOCTYPE html>
<html id="ng-app" ng-app="SWSPortal">
	<head>
		<meta charset="utf-8"/>
		<title translate="APP_NAME">Hotel Partners Portal - Hotelbeds</title>
		<!-- Common CSS -->
		<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="css/select.min.css"/>
		<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css"/>
		<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css"/>

		<!-- Page specific CSS -->
		<link rel="stylesheet" type="text/css" href="css/supplier-hotelbeds.css"/>
		<link rel="stylesheet" type="text/css" href="modules/home/home-styles.css"/>

<!-- 		<script>SimpleUI = false</script> -->
		<script type="text/javascript" src="js/modernizr.js"></script>
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.0.3/es5-sham.js"></script>
			<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.0.3/es5-shim.js"></script>
			<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
			<script type="text/javascript" src="js/ie8.js"></script>
			<script>window.SimpleUI = true</script>
		<![endif]-->
	</head>
	<body class="index ng-cloak" ng-controller="SWSPortalController">
		<div id="wrapper">
			
			<header ng-include="partials.header" id="header" class="navbar-default" ></header>
			
			<nav ng-if="user.hotel" ng-include="partials.subHeader" id="sub-header" class="navbar-default"  role="navigation"></nav>
			
			<div class="wrap"> 
	       
                <section class="section">
                    
                    <div class="container">

                        <h2>Find a booking</h2>
                        <div class="block-default col-md-7 padding-right">
                            <div class="box">

                                <form role="form" class="form-inline">
                                    
                                    <div class="col col-md-5">
                                        <div class="form-group">
                                            <p>Keyword</p>
                                            <div class="input-group">
                                              <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                                              <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Name, reference number, email...">
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col col-md-5">
                                         <div class="col col-md-5 calendar-form">
                                             <p>From:</p>
                                            <div class="">
                                                <p class="input-group">
                                                  <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                                  <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                  </span>
                                                </p>
                                            </div>
                                        </div> <!-- end row -->

                                        <div class="col col-md-1 separator-min"> </br> - </div> <!-- separador -->

                                            <div class="col col-md-5 calendar-form">
                                                <p>To:</p>
                                                <div>
                                                    <p class="input-group">
                                                      <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                                      <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                      </span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    <div class="col-md-2">
                                        <button class="btn btn-default btn-turquesa margin-top-30">SEARCH</button>
                                    </div>

                        

                                </form> <!-- end form -->

                            </div> <!-- end box -->

                         </div> <!-- end block-default -->



                    </div> <!-- end container -->
    
                </section> <!-- end section -->

			</div> <!-- end wrap -->
				
			<footer ng-include="partials.footer" id="footer" ></footer>
			
		</div> <!-- end wrapper -->
		
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="js/angular.js"></script>
		<script type="text/javascript" src="js/angular-route.js"></script>
		<script type="text/javascript" src="js/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="js/angular-load.js"></script>
		<script type="text/javascript" src="js/angular-translate.min.js"></script>
		<script type="text/javascript" src="js/angular-translate-loader-static-files.js"></script>
		<script type="text/javascript" src="js/angular-ui-router.min.js"></script>
		<script type="text/javascript" src="js/ui-bootstrap-tpls-0.12.0.min.js"></script>
		<script type="text/javascript" src="js/select.min.js"></script>

		<script type="text/javascript" src="modules/swsPortal-app.js"></script>
		<script type="text/javascript" src="modules/swsPortal-config.js"></script>
		<script type="text/javascript" src="modules/swsPortal-factory.js"></script>
		<script type="text/javascript" src="modules/swsPortal-controller.js"></script>
		
		<script type="text/javascript" src="modules/booking/booking-factory.js"></script>
		<script type="text/javascript" src="modules/booking/booking-controller.js"></script>
		
		<script type="text/javascript" src="modules/selectHotel/selectHotel-controller.js"></script>
		
	</body>
</html>
