<section id="rates" class="rates-section">
    
    <div class="col col-xs-2 col-md-2 padding-right">
        <div class="block">
            <div class="box">
                <div class="menu-rates">
                    <ul>
                        <li>Rates & Availability</li>
                        <ul>
                            <li><a href="#/rates">Overall view</a></li>
                            <li><a href="#/rates-list">Rates list</a></li>
                            <li><a href="">Edit prices</a></li>
                            <li><a href="">Create new rate</a></li>
                            <li><a href="">Edit availability</a></li>
                            <li><a href="">Open/close availability</a></li>
                            <li><a href="">Rooms with no avail.</a></li>
                        </ul>
                    </ul> 
                    
                    <ul>
                        <li>Offers</li>
                        <ul>
                            <li><a href="#/offers">Offers list</a></li>
                            <li><a href="">Apply/stop offers</a></li>
                            <li><a href="">Create new offer</a></li>
                        </ul>
                    </ul>
                    <ul> 
                        <li>Supplements</li>
                        <ul>
                            <li><a href="#/supplement" class="active">Supplements list</a></li>
                            <li><a href="">Base boards</a></li>
                            <li><a href="">Request new supplement</a></li>
                        </ul>
                    </ul>
                             
                    <p>
                        <button class="btn btn-link general"><span class="icons icon-tools"></span>General configuration</button>
                    </p>

                </div>
            </div>
        </div>
    </div>
    
    <div class="col col-xs-10 col-md-10 block padding-left">
        
        <div class="header-default border-bottom table-rates table-rates-default">
            <table class="table header-table-rates">
                <thead class="filters">
                    <th>
                        <form>
                            <div class="input-group calendar-form input-inline">
                                <label>From:</label>
                                <div class="form-group" ng-class="{'has-error': datepickerForm.date.$invalid}">
                                    <i class="fa fa-calendar"></i>
                                    <input class="form-control" ng-model="selectedDate" name="date" bs-datepicker type="text">
                                </div>
                            </div>
                            
                            <div class="input-group calendar-form input-inline">
                                <label>From:</label>
                                <div class="form-group" ng-class="{'has-error': datepickerForm.date.$invalid}">
                                    <i class="fa fa-calendar"></i>
                                    <input class="form-control" ng-model="selectedDate" name="date" bs-datepicker type="text">
                                </div>
                            </div>
                            
                            <div class="input-group">
                                <button class="btn btn-turquesa icon-reload"></button>
                            </div>
                             
                            <div class="input-group input-inline group">
                                <label>Show offer type:</label>
                                <div class="styled-select">
                                    <select class="form-control">
                                      <option>All</option>
                                      <option>...</option>
                                      <option>...</option>
                                      <option>No se que se añade</option>
                                      <option>...</option>
                                    </select>
                                </div>
                            </div>
                            <div class="input-group pull-right">
                                <button class="btn btn-turquesa ">+ Create New offer</button>
                            </div>
                        </form>
                    </th>
                </thead> <!-- end thead -->
                
            </table> <!-- end table -->
        </div>
        
        <div class="block block-detail block-rate-list">
            <div class="header-default">
                <h4>Bed and breackfast</h4>
                <button class="btn btn-default pull-right">Edit supplement</button>
            </div>
            <div class="content">
                <div class="col-md-12">
                    <div class="group">
                        <span class="primary">Prince:</span>
                        <b>10,80€</b>
                    </div>
                    <div class="group">
                        <span class="primary">Applied to:</span>
                        <b>Per person</b>
                    </div>
                    <div class="group">
                        <span class="primary">From:</span>
                        <b>21/11/14</b>
                    </div>
                    <div class="group">
                        <span class="primary">To:</span>
                        <b>18/03/15</b>
                    </div>
                    <div class="group">
                        <span class="primary">Offer type:</span>
                        <b>All</b>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="block block-detail block-rate-list">
            <div class="header-default">
                <h4>Spa Session</h4>
                <button class="btn btn-turquesa pull-right">Save Changes</button>
            </div>
            <div class="content">
                <div class="col-md-12 filters">
                    <form role="form">
                        <div class="input-group group">
                            <label class="primary">Price:</label>
                            <input type="text" class="form-control mini-input" value="40 €">
                        </div>
                        <div class="input-group group">
                            <p>Applied to:</p>
                            <div class="styled-select">
                                <select class="form-control">
                                  <option value="All rooms">All rooms</option>
                                  <option value="Double">Double</option>
                                  <option value="Single">Single</option>
                                  <option value="Triple">Triple</option>
                                  <option value="...">...</option>
                                </select>
                            </div>
                        </div>
                        <div class="input-group calendar-form group">
                            <label>From:</label>
                            <div class="form-group" ng-class="{'has-error': datepickerForm.date.$invalid}">
                                <i class="fa fa-calendar"></i>
                                <input class="form-control" ng-model="selectedDate" name="date" bs-datepicker type="text">
                            </div>
                        </div>
                        <div class="input-group calendar-form group">
                            <label>To:</label>
                            <div class="form-group" ng-class="{'has-error': datepickerForm.date.$invalid}">
                                <i class="fa fa-calendar"></i>
                                <input class="form-control" ng-model="selectedDate" name="date" bs-datepicker type="text">
                            </div>
                        </div>
                        <div class="input-group group">
                            <p>Offer type:</p>
                            <div class="styled-select">
                                <select class="form-control">
                                  <option value="All rooms">All rooms</option>
                                  <option value="Double">Double</option>
                                  <option value="Single">Single</option>
                                  <option value="Triple">Triple</option>
                                  <option value="...">...</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="block block-detail block-rate-list">
            <div class="header-default">
                <h4>Transport Airport-Hotel-Airport</h4>
                <button class="btn btn-default pull-right">Edit supplement</button>
            </div>
            <div class="content">
                <div class="col-md-12">
                    <div class="group">
                        <span class="primary">Prince:</span>
                        <b>10,80€</b>
                    </div>
                    <div class="group">
                        <span class="primary">Applied to:</span>
                        <b>Per person</b>
                    </div>
                    <div class="group">
                        <span class="primary">From:</span>
                        <b>21/11/14</b>
                    </div>
                    <div class="group">
                        <span class="primary">To:</span>
                        <b>18/03/15</b>
                    </div>
                    <div class="group">
                        <span class="primary">Offer type:</span>
                        <b>All</b>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="block block-detail block-rate-list">
            <div class="header-default">
                <h4>Extra Bed</h4>
                <button class="btn btn-default pull-right">Edit supplement</button>
            </div>
            <div class="content">
                <div class="col-md-12">
                    <div class="group">
                        <span class="primary">Prince:</span>
                        <b>10,80€</b>
                    </div>
                    <div class="group">
                        <span class="primary">Applied to:</span>
                        <b>Per person</b>
                    </div>
                    <div class="group">
                        <span class="primary">From:</span>
                        <b>21/11/14</b>
                    </div>
                    <div class="group">
                        <span class="primary">To:</span>
                        <b>18/03/15</b>
                    </div>
                    <div class="group">
                        <span class="primary">Offer type:</span>
                        <b>All</b>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div> <!-- end column -->

</section> <!-- end section -->


