
.left{
float:left;
}
.right {
float:right;
}
.wt-100{ 
width: 100%;
}
.wt-75 {
width:75%;
}
.wt-70 {
width:70%;
}
.wt-50{
width:50%;
}
.wt-30{
width:30%;
}
.wt-25 {
width:25%;
}
.full-width {
width:100% !important;
}
.full-height {
height:100%;
}
.no-padding{
padding:0 !important;
}
.padding-right{
padding-right: 15px;
}
.padding-left{
padding-left: 15px;
}
.margin-left {
margin-left:15px;
}
.no-margin{
margin:0 !important;
}
.absolute{
position:absolute;
}
.relative{
position:relative;
}
.no-border{
border:none !important;
}

.border-bottom-1 {
border-bottom:1px solid $grey-b;
}

.border-bottom-2 { 
border-bottom:2px solid $grey;
}
.border-top-2{
border-top:2px solid $grey;
}
.inline-block{
display: inline-block;
}
.display-block{
display: block;
}

    
.full{
background: $red;
    h1, span, small{
    color:#fff;
    }
}


.margin-top-30 {
margin-top: 30px;
}

.mini-box{
border:1px solid $grey;
padding:10px;
text-align: center;
margin:0 5px;
}

/* Classes Font */

.light {
font-weight: 300;
}

.buttons-inline {
width:100%;
display: inline-block;
margin:10px 0 0 0;
text-align: center;
    .btn {
    display: inline-block;
    }
    &.buttons-default {
    margin:15px 0 0 0;
        .btn {
        margin: 0;
        }
    }
}

.type-input {
background-color:#fff;
border:1px solid #ccc;
@include border-radius (5px);
text-align: center;
margin-left: 5px;
    &.mini {
    max-width: 45px;
    }
}

.input-inline {
    label {
    float: left;
    margin-right: 5px;
    margin-top: 6px;
    }
    .form-group, .styled-select {
    float:left;
    }
    
}

.group {
padding:0 15px;
    &:first-child {
    padding-left: 0;
    }
}

.primary {
display: block;
}

.margin-top {
margin-top: 10px;
}

.mini-input {
max-width: 70px;
padding-right: 6px !important;
}