$grey: #bebdbd;
$grey-b: #444444; 
$grey-c:#b5b5b5;

$primary: #5c5c5c;
$secundary: #777;

$red: #e44b4b;
$red-c:#eb9898;
$yellow: #ffda59;

$celeste: #b0cce8;
$celeste-b: #73b0ef;
$celeste-c: #9cc2ea;

$blue:#a0cbeb;
$blue-b: #699abe;
$magenta:#d70456; 
$brown: #5f3c30;
$cream:#ebeadc;
$cream-b:#cac9b8;
$cream-grey:#e0ded0;


$turquesa: #68dea3;
$turquesa-b: #4bb681;

$green:#d6ee19;

$orange: #f68a0a;

$script: 'Great Vibes', cursive;
$source: 'Source Sans Pro', sans-serif;
$open: 'Open Sans', sans-serif, "heltivca";

$crema-rgba:rgba(233,231,212, 0.8);